<html lang="en">

<head>
  <title>Main</title>
</head>

<body>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="LambdaCub.be Jakub Oboza">
  <title>Sifaka</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <main role="main">


    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Sifaka</h1>
        <p>Know when your certs expire. Features enabled: Slack, Email</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/" role="button">All Certs »</a>
          <a class="btn btn-warning btn-lg" href="/warning" role="button">All Warning »</a>
        </p>
      </div>
    </div>

    {{embed}}

  </main>

  <footer class="container">
    <p>© Lambdacu.be Jakub Oboza - 2022</p>
    <p></p>
  </footer>

</body>

</html>